.aboutDetails {
    background-color: #1f1e1f;
    color: white;
    padding: 20px;
    width: 63%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    margin-top: -100px;
    flex-direction: row;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    height: 480px;
    gap: 30px;
    border: 1px solid white;
}

#aboutMeText {
    color: #ffc76c;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    padding-bottom: 10px;
}

#aboutMeText::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #555;
}

.about-container {
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding-left: 20px;
}

.about-container p {
    margin-top: 25px;
}

.resume-link {
    margin-top: 30px;
}

.detailsHeading {
    color: #ffc76c;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
    
}

.detailsHeading::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #555;
}

.detailsBox {
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    white-space: pre-wrap;
    margin-top: 90px;
}

.key {
    margin-left: 0px;
    color: #d795f9;
}

.value {
    color: #a4c591;
    
}

.number {
    color: #6abaff;
    
}

a {
    color: #ffc76c;
    
}

a:hover {
    color: #d795f9;
}
.key, .value, .number {
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 480px) {

    .aboutDetails {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        height: 750px;
        width:83%;
        gap:50px;
        
    }
    #aboutMeText {
        font-size: 22px;
        
    }
    .detailsHeading {
        color: #ffc76c;
        margin: 0px;
        
    }
    
    .detailsBox {
        padding-top: 30px;
        padding-left: 0px;
        font-size: 10px;
        white-space: pre-wrap;
        margin: 0px;
        padding:30px 0px;
            border:1px solid white

    }

    .key,.value,.number {
        font-size: 12.4px;
        font-family: 'Courier New', Courier, monospace;
    }
}