body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}
* {
  scrollbar-color: rgb(70, 70, 70) #1a1a1a;
  scrollbar-width: thin;
}
.profiles{
  margin-top:100px;
}
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}