.Skills {
    background-color: #1f1e1f;
    color: white;
    padding: 20px;
    width: 63%;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

.skillsHead {
    color: #ffc76c;
    text-align: left;
    margin-bottom: 15px;
}

.PnT {
    display: flex;
    justify-content: space-between;
    gap:200px;
    height:300px;
    margin:0 50px;
}

.column {
    width: 48%;
}

.category {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.codeBlock {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    height:100%;
    max-height: 250px;
}

.skillRow {
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-size: 15px;
    margin-left: 30px;
}

.skillName {
    color: #d795f9;
    font-weight: bold;
}

.brackets {
    color: orange;
    font-size: 19px;
}

.stars {
    color: #ffc76c;
    font-size: 19.5px;
}
@media (max-width: 768px) {
    .Skills {
        width:83%;
        height:600px;
    }
    .PnT{
        display: flex;
        flex-direction:column;
        margin:0px;
        gap:0px;
    }
    .column{
        width:90%;
        margin:10px;
        border-bottom: 1px solid grey;
        
    }
    .codeBlock{
        margin:0px;
    }
}